.options-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
    text-decoration: underline;
    padding: 4%;
}

.options-login p {
    font-size: 1rem;
}

.options-login img {
    width: 30px;
    padding-right: 5%;
}

.options-login:disabled {
    cursor: default;
    text-decoration: none;
}