.navbar ul li {
    list-style: none;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
}

.navbar ul li:hover {
    color: #ff6953;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    padding-right: 2vw;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.li-dropdown {
    padding-left: 2vw;
    border-left: 1px solid rgb(210, 208, 208);
    align-items: center;
    text-align: center;
    color: #ff6953;
    display: flex;
    width: 120px;
    cursor: pointer;
}

.box-dropdown {
    width: 200px;
    height: auto;
    min-height: 100px;
    background-color: #fff;
    min-width: 200px;
    position: absolute;
    top:55px;
    right: 40px;
    color: rgb(100, 100, 100);
    display: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: center;
    padding: 20px;
}

.dropdown:hover .box-dropdown {
    display: block;
}

.li-dropdown img {
    width: 20px;
    padding-left: 2%;
}

.btn-dropdown {
    border: #ff6953 solid 1px;
    background-color: #fff;
    padding: 6%;
    margin-top: 30px;
    width: 180px;
    border-radius: 3px;
}

.btn-dropdown p {
    color: #ff6953;
    text-decoration: none;
    font-weight: 500;
}

.btn-dropdown:hover {
    background-color: #ff6953;
}

.btn-dropdown:hover a {
    color: #fff;
}